<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="FTP_Inbox" value="ftp://192.168.0.25:31/Attachments"/>
    <add key="FTP_UserName" value="ftpuser"/>
    <add key="FTP_Password" value="Exalca@123"/>
    </appSettings>
  <connectionStrings>
    <add name="BPCloud_VP" connectionString="Data Source=EOA114\\SQLEXPRESS,1433;Database=BPCloud_VP.PO;User ID= bpcloud;Password=BPCloud@2021;" />
  </connectionStrings>
</configuration>