<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IntervalMinutes" value="2" />
		<add key="FTP_Inbox" value="ftp://192.168.0.25:31/Attachments" />
		<add key="FTP_UserName" value="ftpuser" />
		<add key="FTP_Password" value="Exalca@123" />
		<add key="MigrationIntervalMinutes" value="60" />
	</appSettings>
	<connectionStrings>
		<add name="BPCloud_VP" connectionString="Data Source=192.168.0.28,5432;Database=BPCloud_VP.PO;User ID= postgres;Password=openpgpwd;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>