<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IntervalMinutes" value="1"/>
		<add key="DailyTimeToGetSAPData" value="11:37:00"/>
		<add key="GRNPattern" value="###"/>
		<add key="OutFolder" value="FTP"/>
		<add key="NoOfFolderParallelProcess" value="1"/>
		<add key="FTPUriValue" value="ftp://172.17.2.27:24/Inbox/"/>
		<add key="FTPUserName" value="ftpuser"/>
		<add key="FTPPassword" value="Emami@654321"/>
		<add key="UploadRemainingFilesToFtp" value="False"/>
		<add key="ImageMagicDir" value="C:\Program Files (x86)\ImageMagick-6.7.7-Q16"/> 
		<add key="Density" value="200"/> 
		<add key="TesseractDir" value="C:\Program Files ( x86)\Tesseract-OCR"/>
		<add key="Depth" value="8"/>
		<add key="GSXDPI" value="300"/>
		<add key="GSYDPI" value="300"/> 
		<add key="FilesToRead" value="TPJP"/>
		<add key="ImageProcessing" value="0"/>
		<add key="TesseractVersion" value="3.4"/>
		<add key="Compression" value="1"/>
		<add key="PlantCodeLength" value="5"/>
		<add key="FinalUplaodPDF" value="1"/>
		<add key="ExtractTextFromPDFItSelf" value="0"/>
		<add key="GetFTPDetailsFromDB" value="0"/>
		<add key="NoOfPagesForOCR" value="2" />
	</appSettings>
	<connectionStrings>
	<add name="AuthContext" connectionString="Data Source=192.168.0.28,1434;Initial Catalog=ExalcaScanEngine; User ID = dev1; Password=welcome@123; Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LibPowerCrypt4" publicKeyToken="43323c0f37428f68" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5853.41556" newVersion="1.0.5853.41556" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>                                                                                                     